/** MEUS ESTILOS **/

:root {
	--rosa: #fc3a3a;
	--roxo: #7b0d62;
	--gradiente: linear-gradient(0deg, #7b0d62, #fc3a3a);
}

body {
	background: #fff !important;
}

.bg-primary {
  background: var(--gradiente) !important;
}

.text-primary {
  color: var(--roxo) !important;
}

.text-secondary {
  color: var(--rosa) !important;
}

a {
  color: var(--rosa);
}

a:hover, a:focus, a:active {
  color: var(--roxo);
}

.social-icons a:hover {
  background: var(--gradiente);
}

.box-shadow {
  box-shadow: 1px 1px 5px 0px #808080b5;
}

.img-port {
  box-shadow: 1px 1px 5px 0px #808080b5;
  width: 250px;
  height: 250px;
  /* border-bottom: 2px solid var(--roxo); */
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

.img-port:hover {
  border: 1px solid gray;
}

.img-port img {
  transition: 0.5s all;
}

.img-port img:hover {
  transform: scale(1.2);
  transition: 0.5s all;
}
