:root {
  --laranja: #F9621F;
  --preto: #000;
  --cinza: #808080;
  --border: 1px solid var(--cinza);
}

/* ============ CORES ============ */

.laranja { color: var(--laranja) !important }
.preto { color: var(--preto) !important }
.cinza { color: var(--cinza) !important }

/* ============ FONTES ============ */

@font-face {
  font-family: "geometric415";
  src:  url("../../fonts/geometric415.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "geometric415";
  color: var(--preto);
}

.geometric {
  font-family: "geometric415" !important;
}

.uppercase {
  text-transform: uppercase !important;
}

/* ============ DEMAIS ============ */

a {
  color: var(--preto);
}

a li:hover {
  color: var(--laranja);
  transition: 0.3s all;
}

ul {
  padding: 0px;
}

nav ul li{
  display: inline-block;
  font-size: 25px;
  width: 120px;
  margin: 15px 0px;
}

section, footer {
  padding-top: 50px;
}

.icon {
  padding: 0px 10px;
}
