@import "base.css";

.description {
  padding-top: 20px;
  font-size: 15px;
}

.border-left {
  border-left: var(--border) !important;
}

.border-right {
  border-right: var(--border) !important;
}

@media screen and (max-width: 450px) {
  .border-right {
    border-right-style: none !important;
  }
}

.hr-bottom {
  height: 5px;
  background: var(--laranja);
  text-align: left;
  padding: 0;
  margin: 0;
  width: 125px;
}

.c-top {
  margin-top: 50px;
  font-size: 30px;
}
