
.absolute {
  position: absolute;
}

.description {
  padding-top: 20px;
  font-size: 15px;
}

.border-left {
  border-left: var(--border) !important;
}

.border-right {
  border-right: var(--border) !important;
}

@media screen and (max-width: 446px) {
  .border-right {
    border-right-style: none !important;
  }
}
@media screen and (max-width: 321px) {
  .border-left {
    border-left-style: none !important;
  }
}

.hr-bottom {
  height: 5px;
  background: var(--laranja);
  text-align: left;
  padding: 0;
  margin: 0;
  width: 125px;
}

.c-top {
  margin-top: 50px;
  font-size: 30px;
}

.img-port {
  box-shadow: 1px 1px 5px 0px grey;
  width: 100px;
  border-bottom: 2px solid #f9621f;
  margin: 5px;
}

.img-port:hover {
   transform: scale(2.5);
   transition: 0.5s all;
}
